@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green: #6ca551;
  --darkgreen: #1a2010;
  --white: #ffffff;
  --text: #1a2010;
}

body {
  font-family: 'Cairo', sans-serif;
  color: var(--text);
  direction: rtl;
}